<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keyword" content="{{keyword}}">
<link rel="stylesheet" href="css/map.css">
</head>
<body>
{{# prettify }}
{{> body }}
{{/ prettify }}
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDUQyJsnnYgFDzksvgXDyAb1XnDJr88g0k&libraries=geometry"></script>
<script src="js/map.min.js"></script>
</body>
</html>